
<!DOCTYPE HTML>
<html>
<head>
    <title>dksd</title>
    <meta charset="utf-8" />
    

</head>

<body>
    <div class="text-center">

        <p>ViewData:@((Test)ViewData["name"]).name</p>
        <p>testViewData:@ViewBag.name </p>
        <p>testViewBag:@ViewBag.name</p>
        <p>testOther:@ViewBag.name</p>
        <p>testTemp:@ViewBag.name</p>
        <p>testSession:@ViewBag.name</p>
        <p>@ViewBag.bt</p>

    </div>
</body>
</html>



